{% extends "DreamCommerceObjectAuditBundle::layout.html.twig" %}

{% import "DreamCommerceObjectAuditBundle::macros.html.twig" as helper %}

{% block dream_commerce_object_audit_content %}
    <h1>{{ 'Comparing %resourceName% with identifier of %resourceId% between revisions %oldRevision% and %newRevision%'|trans({'%resourceName%': resourceName, '%resourceId%': resourceId, '%oldRevision%': oldRevision.id, '%newRevision%': newRevision.id}) }}</h1>

    <p><a href="{{ path('dream_commerce_object_audit_home') }}">{{ 'Home'|trans }}</a></p>

    <table>
        <thead>
            <tr>
                <th>{{ 'Field'|trans }}</th>
                <th>{{ 'Deleted'|trans }}</th>
                <th>{{ 'Same'|trans }}</th>
                <th>{{ 'Updated'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for field, value in diff %}
                <tr>
                    <td>{{ field }}</td>
                    <td>
                        {{ helper.showValue(value.old) }}
                    </td>
                    <td>
                        {{ helper.showValue(value.same) }}
                    </td>
                    <td>
                        {{ helper.showValue(value.new) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock dream_commerce_object_audit_content %}
