{% extends "DreamCommerceObjectAuditBundle::layout.html.twig" %}

{% import "DreamCommerceObjectAuditBundle::macros.html.twig" as helper %}

{% block dream_commerce_object_audit_content %}
    <h1>{{ 'Detail of %resourceName% with identifier of %resourceId% at revisions %revision%'|trans({'%resourceName%': resourceName, '%resourceId%': resourceId, '%revision%': revision.id}) }}</h1>

    <p><a href="{{ path('dream_commerce_object_audit_home') }}">{{ 'Home'|trans }}</a></p>
    <p><a href="{{ path('dream_commerce_object_audit_view_resource', { 'resourceName': resourceName, 'resourceId': resourceId }) }}">{{ 'Compare revisions'|trans }}</a></p>

    <table>
        <thead>
            <tr>
                <th>{{ 'Field'|trans }}</th>
                <th>{{ 'Value'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for field, value in data %}
                <tr>
                    <td>{{ field }}</td>
                    <td>{{ helper.showValue(value) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock dream_commerce_object_audit_content %}

